h1{
    color: red;
    background-color: rgb(112, 108, 100);
    font-size: 20px;
    width: max-content;
}
button{
    color:blue ;
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
}
body{
    transition: 0.4s;
}